# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Bazel outputs
**/bazel-*/

# Jupyter notebook
**/.ipynb_checkpoints/

# VS Code
**/.vscode/*
*.code-workspace

# Python
**/__pycache__
lab/Predict_with_realword.ipynb
lab/Train-experimental.ipynb

#wandb
lab/wandb/*
lab/tokens_json.txt
